<h2>
  We played rock!
</h2>

<h2>
  They played <%= @comp_move %>!
</h2>

<% if @outcome == "won" %>
  <h2 class="won">
    We <%= @outcome %>!
  </h2>
<% elsif @outcome == "lost" %>
  <h2 class="lost">
    We <%= @outcome %>!
  </h2>
<% else %>
  <h2 class="tied">
    We <%= @outcome %>!
  </h2>
<% end %>
